/************************************/
/* style sheet to bypass shadow dom */
/************************************/

/********************************/
/* c-ers_custom-lightning-datatable */
/********************************/

/* allow overflow of combobox if class overflowEnabled is present */
.overflowEnabled c-ers_custom-lightning-datatable .slds-scrollable_x,
.overflowEnabled c-ers_custom-lightning-datatable .slds-scrollable_y {
    overflow: visible;
}
/* stretch cell width of combobox to 100% */
c-ers_custom-lightning-datatable lightning-primitive-cell-factory .slds-hyphenate {
    width: 100%;
}
/* ensures that custom column cells remain higlighted on hover when edited */
.slds-scope .slds-table:not(.slds-no-row-hover) tbody tr:hover>td.slds-is-edited,
.slds-table:not(.slds-no-row-hover) tbody tr:hover>td.slds-is-edited {
    background-color: rgb(250, 255, 189);
}

/********************************/
/**** c-ers_combobox-column-type ****/
/********************************/
/* height of combobox */
c-ers_combobox-column-type .slds-dropdown {
    max-height: 180px;
}
/* highlight combobox if value is changed*/
/* removed. highlighting is now controlled by manipulating fieldValues*/
/*c-ers_combobox-column-type .isChanged input[lightning-basecombobox_basecombobox],
c-ers_combobox-column-type .isChanged input[readonly][role=combobox],
c-ers_combobox-column-type .isChanged input:focus,
.slds-scope c-ers_combobox-column-type .isChanged input[lightning-basecombobox_basecombobox],
.slds-scope c-ers_combobox-column-type .isChanged input[readonly][role=combobox],
.slds-scope c-ers_combobox-column-type .isChanged input:focus {
    background-color: rgb(250, 255, 189);
} */
/* Remove position:absolute on the dropdown icon so that it doesn't appear on top of column action dropdown*/
c-ers_combobox-column-type lightning-base-combobox .slds-input-has-icon lightning-icon.slds-input__icon{
    top: 0;
    position: static;
    padding-right: 1.3rem;
}
.slds-scope c-ers_combobox-column-type lightning-base-combobox .slds-input-has-icon .slds-input__icon {
    top: 0;
    margin-top: 0.1rem;
    position: static;
    padding-right: 1.3rem;
}
