.container {
    position: relative;
}

.role-manager {
    height: 100%;
    width: 100%;
}

.toast-message {
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: --lwc-zIndexModal;
}
