.shiftback {
    position: relative;
    left: -1em;
}

.buttonContainer {
    position: relative;
    left: -1em;
}

.confirmDialog {
    position: relative;
    bottom: 0;
}

.confirmButton {
    position: absolute;
    left: 0;
    top: 0;    
}

.dragHandle, .buttonAction {
    opacity: 0;
    transition: opacity 0.25s;
    cursor: pointer;
}

.buttonContainer:hover .dragHandle, .buttonContainer:hover .buttonAction{
    opacity: 1;
}

.dropzone_final:hover {
    height: 3em;
    transition: height 0.25s;
}

.dropzone {
    background-color: #005fb2;
    border: 0;
    min-height: 0;
    transition: min-height 0.1s;
}

.dropzone.dropzone_active {
    /*border: 1em solid #005fb2;*/
    min-height: 0.5em;
}

.insertAbove {
    border-top: 1em solid #005fb2;
}

.insertBelow {
    border-bottom: 1em solid #005fb2;
}