.border-bottom-2px {
    border-bottom: solid 2px;
    border-color: var(--lwc-colorBorder)
}

.custom-width-full {
    width: 100%;
}

/* .slds-modal__container{
    max-width: 800rem !important;
    width: 120% !important;
} */